.content
  .content-head
    .content-head--wrapper
      .content-category
        .likes
          .likes--like all
          .likes--like 人気
          .likes--like 重要
        .tags
          - @tags.each do |tag|
            = link_to "/tags/#{tag.id}" do
              .tags--text
                =tag.tag_name
      = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
        = form.submit "検索", class: "search-btn"
  .content-main
    .content-main--wrapper
      .posts-lists
        - @posts.each do |post|
          = render partial: "layouts/post", locals: { post: post }
      .post-recommendlists
        %p.recommend-category-title 今週のSelect
        - @weekly_posts.each do |post|
          .post-recommendlist
            .post-recommendlist--main
              .post-recommendlist--main__image
                = link_to "/posts/#{post.id}", class: "image-link" do
                  %img{ src: "#{post.ogp_url}", alt: "テクノロジー", class:"post-ogp"}
            .post-recommendlist--detail
              .post-recommendlist--detail__title
                = link_to "/posts/#{post.id}", class: "title-link" do
                  = post.title
              - post.tags.each do |tag|
                .post-recommendlist--detail__tag
                  = link_to "/tags/#{tag.id}" do
                    = tag.tag_name