.showcontent
  .wrapper
    .content--detail
      .content--detail__image
        %img{ src: "/assets/sample.png", alt: "テクノロジー", class:"post-ogp"}
      .content--detail__title
        = @post.content
      .content--detail__createdat
        = @post.created_at
        = link_to "/posts/#{@post.id}", method: :delete do
          %p 削除
    .content-commentbox
      .content-comment--entry
        - if current_user
          = form_with(model: [@post, @comment], local: true) do |form|
            %h3.newcontent--title
            = form.text_field :text, placeholder: "discuss", class: "newcontent--text"
            = form.submit "Select", class: "newpost-btn"
        - else
          %strong ＊＊＊ディスカッションへの参加には新規登録/ログインが必要です＊＊＊
      .content-comments--lists
        %h3  Discuss
        - @comments.each do |comment|
          .content-comments--list
            .content-comments--list__name 
              = comment.user.nickname
            .content-comments--list__text
              = comment.text