.showcontent
  .wrapper
    .content--detail
      .content--detail__image
        %img{ src: "#{@post.ogp_url}", alt: "テクノロジー", class:"post-ogp"}
      .content--detail__title
        = @post.content
      .content--detail__createdat
        = @post.created_at
      - if @post.user.id == current_user.id
        .content--proceed
          .content--proceed__edit
            = link_to "/posts/#{@post.id}/edit", class:"edit-link" do
              %p 投稿を編集
          .content--proceed__destroy
            = link_to "/posts/#{@post.id}", method: :delete, class:"destroy-link" do
              %p 投稿を削除
      .content--pagelink
        = link_to "#{@post.news_url}", class: "content--pagelink__box" do
          続きを読む
      -# = form_with(model: @like, local: true) do |form|
      -#   = form.collection_check_boxes :like_ids, Like.all, :id, :like_name
      = form_with url: post_likes_path(@post.id) , local: true, method: :post do |f|
        - @likes.each do |like|
          = f.radio_button :like_id, "#{like.id}"
          = f.label :like_name, "#{like.like_name}"
        = f.submit "like!"
        
    .content-commentbox
      .content-comment--entry
        - if current_user
          = form_with(model: [@post, @comment], local: true) do |form|
            %h3.newcontent--title
            = form.text_field :text, placeholder: "discuss", class: "newcontent--text"
            = form.submit "Select", class: "newpost-btn"
        - else
          %strong ＊＊＊ディスカッションへの参加には新規登録/ログインが必要です＊＊＊
      .content-comments--lists
        %h3  Discuss
        - @comments.each do |comment|
          .content-comments--list
            .content-comments--list__name 
              = comment.user.nickname
            .content-comments--list__text
              = comment.text

        -# = form.radio_button(:like, :like_id, "#{like.like_name}")