.showcontent
  .wrapper
    .content--detail
      .content--detail__image
        %img{ src: "/assets/sample.png", alt: "テクノロジー", class:"post-ogp"}
      .content--detail__title
        = @post.content
      .content--detail__createdat
        = @post.created_at
    .content-commentbox
      .content-comment--entry
        = form_with(model: @post, local: true) do |form|
          %h3.newcontent--title
          = form.text_field :text, placeholder: "discuss", class: "newcontent--text"
          = form.submit "Select", class: "newpost-btn"
      .content-comments--lists
        %h3 ディスカッション一覧
        .content-comments--list
          .content-comments--list__name koyo
          .content-comments--list__text
            %p コロナウイルスによる経済の縮小を防ぐ方法はワクチンの開発と社会がコロナウイルスを受容すことの二つである
        .content-comments--list
          .content-comments--list__name koyo
          .content-comments--list__text
            %p コロナウイルスによる経済の縮小を防ぐ方法はワクチンの開発と社会がコロナウイルスを受容すことの二つである