!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SelectNews
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-57RLNZH');</script>
    <!-- End Google Tag Manager -->
  
  %body
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57RLNZH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    %header.header
      .header--wrapper
        = link_to posts_path, class: "header-title" do
          %h1 SelectNews
        .header-menu
          = link_to root_path , class: ".menu-button--newpost" do
            %p about
          - if user_signed_in?
            = link_to new_post_path , class: ".menu-button--newpost" do
              %p 投稿
            = link_to destroy_user_session_path , method: :delete, class: ".menu-button--destroyuser" do
              %p ログアウト
          - else
            = link_to new_user_registration_path, class: ".menu-button--usersignup" do
              %p 新規登録
            = link_to new_user_session_path, class: ".menu-button--userlogin" do
              %p ログイン

    = yield
