!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SelectNews
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  
  %body
    %header.header
      .header--wrapper
        = link_to posts_path, class: "header-title" do
          %h1 SelectNews
        .header-menu
          = link_to root_path , class: ".menu-button--newpost" do
            %p about
          - if user_signed_in?
            = link_to new_post_path , class: ".menu-button--newpost" do
              %p 投稿
            = link_to destroy_user_session_path , method: :delete, class: ".menu-button--destroyuser" do
              %p ログアウト
          - else
            = link_to new_user_registration_path, class: ".menu-button--usersignup" do
              %p 新規登録
            = link_to new_user_session_path, class: ".menu-button--userlogin" do
              %p ログイン

    = yield
